/* renombrado */
.salvatore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.salvatore .buttonTry{
    height: 3.5rem;
    width: 8rem;
    background-color:#00000000;
    color: #777;
    border: 2px solid #777;
    border-radius: 20px;
    transition: 0.2s;
}
.salvatore .buttonTry:hover{
    cursor: pointer;
    background-color: #6D33A6;
    color: #111;
    border-color: #6D33A6;
}

.salvatore .tlist{
    width: 100vw;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.salvatore .tlist span{
    color: #aaa;
    font-size: 2rem;
}

.salvatore #blackSpace{
    font-weight: 50;
    color: #111;
}

.salvatore .description img{
    height: 35rem;
    margin-bottom: 2rem;
}
.salvatore .description .text{
    font-size: 2rem;
    max-width: 25rem;
}
.salvatore  .description{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}