.first-slide{
    display: flex;
    flex-wrap: wrap;
}
.first-slide .words{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#guion{
    margin: 0 auto;
    margin-top: 14vh;
    height: 2rem;
    width: 7rem;
    background-color: #777;
}
.first-slide .letter:hover{
    color: #999;
}

@media(max-width: 600px) {
    .first-slide .letter{
        font-size: 10rem;
    }
    #guion{
        margin-top: 5rem;
        height: 2rem;
        width: 7rem;
        background-color: #777;
    }
}
@media(min-width: 601px) and (max-width: 800px) {
    .first-slide .letter{
        font-size: 13rem;
    }
    #guion{
        margin-top: 7.5rem;
        height: 2rem;
        width: 7rem;
        background-color: #777;
    }
}
@media(min-width: 800px) {
    .first-slide .letter{
        font-size: 16rem;
    }
    #guion{
        margin: 0;
        margin-top: 8rem;
        height: 2rem;
        width: 20vw;
        background-color: #777;
    }
}
@media(min-width: 1025px){
    .first-slide{
        justify-content: center;
    }
}
.arrow {
    margin-top: 4rem;
    height: 5rem;
    margin-bottom: 3rem;
    margin-left: calc(49vw);
    justify-content: center;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    max-width: 2rem;
    max-height: 2rem;
    border-bottom: 5px solid #555;
    border-right: 5px solid #555;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}