.aboutMeSlide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.title{
    text-align: left;
    font-size: 2rem;
    color: #aaa;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.aboutMeSlide .bio{
    font-size: 2rem;
    width: 25rem;
    margin-bottom: 2rem;
}


.aboutMeSlide .retrato img{
    margin-bottom: 3rem;
    width: 25rem;
}