.talk{
  text-transform: uppercase;
  color: #777;
  position: relative;
  overflow: hidden;
  font-size: 16rem;
  width: 8000px;
}
.talk .talk-span{

  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: marquee 40s linear infinite;
  will-change: transform;
  padding-top: 2.4rem;
  padding-bottom: 1rem;
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    99.999999% {
      transform: translateX(-84%);
    }
    100% {
      transform: translateX(0);
    }
  }