.main-container{
    display: "flex";
    flex-direction: column;
}
#featuredProjects{
    font-weight: 50;
    color: #777;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
html::-webkit-scrollbar {
    width: 0px; /* Ancho de la barra de desplazamiento */
}